@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .mobil-menu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #8e8f99;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobil-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .container-mobile-menu {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
  }

  .menu-mobile-close-bth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .mobil-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .mobil-menu-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .mobil-menu-nav-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .menu-mobil-social {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mobil-menu-social-list {
    margin-top: auto;
  }

  .mobil-menu-social-link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-menu-social-link-pic {
    fill: #f4f4fd;
  }

  .mailto {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-title-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tel {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-title-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Features */

  .features-list-icons {
    display: none;
  }

  .list-content {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .content-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .content-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-title-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-right: 16px;
    margin-left: 16px;
  }

  /* Customers */

  .title-customers {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .customers-list {
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .customers-item {
    flex-basis: calc((100%-32px) / 3);
  }

  .customers-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
  }

  .customers-icons {
    fill: currentColor;
  }

  /* Team  */

  .team {
    padding-top: 72px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
  }

  /* .list-team {
    padding-right: 82px;
    padding-left: 82px;
  } */

  /* Header  */

  /* Hero */

  .sec-hero {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 428px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/Darkmobilebg1x.jpg);
    background-size: 428px 432px;
    background-color: rgba(46, 47, 66, 0.7);
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .sec-hero {
      background-image: url("../image/Darkmobilebg@2x.jpg");
    }
  }




  
}
