.container {
  padding-right: 15px;
  padding-left: 15px;
}

.menu-button-mobil-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .address {
    display: none;
  }

  .mobil-menu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #8e8f99;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobil-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .container-mobile-menu {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
  }

  .menu-mobile-close-bth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .mobil-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .mobil-menu-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .mobil-menu-nav-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .menu-mobil-social {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mobil-menu-social-list {
    margin-top: auto;
  }

  .mobil-menu-social-link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-menu-social-link-pic {
    fill: #f4f4fd;
  }

  /* Features */
  .features {
    display: none;
  }

  .features-list-icons {
    display: none;
  }

  .features-list {
    display: none;
  }

  .list-content {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .content-subtitle {
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .content-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-title-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-right: 16px;
    margin-left: 16px;
  }

  /* Customers */

  .title-customers {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .customers-item {
    width: calc((100% - 16px) / 3);
  }

  .customers-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
  }

  .customers-icons {
    fill: currentColor;
  }

  /* Team  */

  /* .team-img {
    width: 100%;
  } */

  .title-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
    margin-bottom: 72px;
    text-align: center;
  }

  .team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    text-align: center;
  }

  .team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-title-color);
    margin-top: 8px;
    text-align: center;
    margin-bottom: 8px;
  }

  .item-team {
    align-items: center;
    flex-basis: calc ((100%-72)/4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .employees {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .icon-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-pic {
    fill: #f4f4fd;
  }

  .team {
    padding-top: 72px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
  }

  .list-team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
  }

  /* Footer  */

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-text-top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-fotter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .fotter-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
    margin-top: 16px;
    margin-bottom: 72px;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .social-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }

  .footer-link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }

  .footer-icons {
    display: flex;
    gap: 16px;
  }
  .footer-link-list {
    fill: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-fotter-title {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
  }

  .footer-form-input {
    background-color: transparent;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 398px;
    max-width: 100%;
    height: 40px;

    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
  }

  .footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  .footer-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
    position: absolute;
    width: 398px;
    height: 40px;
    opacity: 0.3;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .form-fotter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background: #4d5ae5;
    border-radius: 4px;
    border: 0;
    margin-left: 24px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-fotter-bth {
    font-weight: 500;

    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
  }

  .footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
  }

  .footer-link span {
    line-height: 1.17;
    color: var(--logo-color);
  }

  .footer-list {
    margin-bottom: 72px;
  }
  .form-fotter-desc {
    margin-bottom: 16px;
  }

  /* Hero */

  .sec-hero {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 428px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../image/Darkmobilebg1x.jpg);
    background-size: 428px 432px;
    background-color: rgba(46, 47, 66, 0.7);
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .sec-hero {
      background-image: url("../image/Darkmobilebg@2x.jpg");
    }
  }
}
